extends layout

block content
  h1= title
  - var image_names=["cape.jpg","kordofan.jpg","masai.jpg","nubian.jpg","reticulated.jpg"]
  - for(let j=0;j<3;j++){
     - let rand=Math.floor(Math.random()*5)
     img(src=`/images/${image_names[rand]}` alt=`${rand}` height="300px" width="300px") 
  - }